.card-img-top {
    height: 250px;
    object-fit: cover;
  }
  
  .images {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
  }
  
  a.card {
    text-decoration: none;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  
  a.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  